:root{
  --maincolor: lightgray;
}

* {
  margin: 0px;
  padding: 0pc;
  box-sizing: border-box;
}

.display--flex--row {
  display: flex;
  align-items: center;
}

.display--flex--column {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}


nav,
.task--head {
  justify-content: space-between;
}


nav{
  margin-bottom: 2rem;
  padding: 1rem;
}

.task{
  background-color: var(--maincolor);
  padding: 10px;
  border-radius: 10px;
}


.task--head img {
  width: 15px;
}

.set--timer-section > input {
  max-width: 50px;
  text-align: center;
  padding: 0.5px;
}


.task--btn--container{
  justify-content: center;
}
.task--btn {
  margin: 10px 5px 0px 5px;
  width: 60px;
  padding: 2px;
}

.hidden {
  display: none;
}
